.article-container{
    padding: 0 .3rem;
}
.single-article{
    height: 1.5rem;
    background-color: #fff;
    border-bottom: 1px solid #eceaea;
    a{
        display: block;
    }
    .article-detail-fl{
        display: flex;
        .fl{
            width: 4.4rem;
            height: .9rem;
            font-size: .28rem;
            color: #030303;
            letter-spacing: -0.18px;
            line-height: .43rem;
            // margin: 0 .43rem;
            margin-top: .28rem;
        }
        .fr{
            img{
                width: 1.7rem;
                height: 1.5rem;
                margin-top: .27rem;
            }
            
        }
    }
}