.slider-nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    line-height: 50px;
    text-align: center;
    font-size: .3rem;
    color: #fff;
    z-index: 99;
    transition:all .2s;
    -moz-transition:all .2s; /* Firefox 4 */
    -webkit-transition:all .2s; /* Safari and Chrome */
    -o-transition:all .2s; /* Opera */
}
.pannel-container{
    overflow-y: auto;
}
.menu{
    position: absolute;
    height: 30px;
    width: 30px;
    left: .2rem;
    top: 10px;
    background: url('../../images/sliderNav/menu.png');
    background-size: 100%;
}
.menu-pannel{
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 999;
    color:#c1c1c1;
    .left-bar{
        width: 50%;
        height: 100%;
        background-color: #262932;
    }
    .menu-icon{
        display: flex;
        background-color: #262932;
        padding:0 .3rem;
        text-align: center;
        font-size: 12px;
        dl{
            margin: 0;
            margin: .1rem 0;
        }
        .mid-icon{
            margin: 0 .9rem;
        }
        .nav-icon{
            width: .4rem;
            height: .4rem;
        }
        .shoucang{
            background: url('../../images/sliderNav/star.png') no-repeat center;
            background-size: 100%;
        }
        .message{
            background: url('../../images/sliderNav/bell.png') no-repeat center;
            background-size: 100%;
           
        }
        .setting{
            background: url('../../images/sliderNav/setting.png') no-repeat center;
            background-size: 100%;
        }
    }
    ul{
        width: 50%;
        top: 120px;
        z-index: 99;
        position: absolute;
        bottom: 50px;
        transition:left .2s;
        -moz-transition:left .2s; /* Firefox 4 */
        -webkit-transition:left .2s; /* Safari and Chrome */
        -o-transition:left .2s; /* Opera */
        .hot-topic{
            border-top:1px solid #1F222B;
            border-bottom:1px solid #1F222B;
        }
        li{
            padding-left: .3rem;
            height: 50px;
            line-height: 50px;
            font-size: .24rem;
            a{
                color:#c1c1c1;
            }
            .topic-icon{
                float: right;
                width: 20px;
                height: 20px;
                background: url('../../images/sliderNav/tab_right.png') no-repeat left top;
                background-size: 50%;
                margin-top: 15px;
            }
        }
    }
    .active{
        left: 0;
    }
}
#topbarbg{
    background-color: #3F8CD0;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    height: 50px;
    z-index: 0;
    opacity: 0;
    transition:opacity .2s;
    -moz-transition:opacity .2s; /* Firefox 4 */
    -webkit-transition:opacity .2s; /* Safari and Chrome */
    -o-transition:opacity .2s; 
}
.user-part {
    padding: .2rem;
    font-size: .26rem;
    img{
        width: .6rem;
        height: .6rem;
        margin-right: .3rem;
        vertical-align: middle;
    }
}
.bottom-menu-icon{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 50%;
    box-shadow: -20px -2px 15px -3px #262932;
    height: 50px;
    line-height: 50px;
    background-color: #262932;
    z-index: 99;
    span{
        display: inline-block;
        width: 50%;
        text-align: center;
        &:before{
            content: '';
            display: inline-block;
            width: .4rem;
            height: .4rem;
            vertical-align:text-bottom;
            margin-right: .1rem;
        }
    }
    .off-line{
        &:before{
            background: url('../../images/sliderNav/bell.png') no-repeat center center;
            background-size: 80%;
        }
    }
    .night-mode{
        &:before{
            background: url('../../images/sliderNav/bell.png') no-repeat center center;
            background-size: 80%;
        }
    }
}