.main-wrap {
    max-width: 600px;
    min-width: 300px;
    margin: 0 auto;
}
.content-wrap {
    overflow: hidden;
    background-color: #fff;

}
.headline {
    border-bottom: 4px solid #f6f6f6;
    img {
        max-width: 100%;
        vertical-align: top;
    }
    .img-wrap {
        position: relative;
        max-height: 375px;
        overflow: hidden;
        img {
            margin-top: -18%;
            width: 640px;
        }
        .headline-title {
            margin: 20px 0;
            bottom: 10px;
            z-index: 1;
            line-height: 1.2em;
            position: absolute;
            color: white;
            text-shadow: 0px 1px 2px rgba(0,0,0,0.3);
        }
        @media (max-width: 480px){
            .headline-title {
                bottom: 5px;
                font-size: 21px;
                padding: 0 20px !important;
            }
        }
    }
    .img-mask {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: -moz-linear-gradient(top, rgba(0,0,0,0) 25%, rgba(0,0,0,0.6) 100%);
        background: -webkit-gradient(linear, left top, left bottom, color-stop(25%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.6)));
        background: -webkit-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%);
        background: -o-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%);
        background: -ms-linear-gradient(top, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%);
        background: linear-gradient(to bottom, rgba(0,0,0,0) 25%,rgba(0,0,0,0.6) 100%);
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#99000000',GradientType=0 );
    }
}
@media (max-width: 480px){
    .question {
        padding: 0 20px !important;
        .question-title {
            font-size: 19px;
            margin: 20px 0;
        }
    }
}
.question {
    padding: 0 40px;
    overflow: hidden;
    .question-title {
        font-size: 22px;
        line-height: 1.4em;
        color: #222;
        font-weight: bold;
        margin: 25px 0;
    }
}
.meta {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    font-size: 16px;
    color: #b8b8b8;
    img.avatar {
        display: inline-block;
    }
    .avatar {
        width: 20px;
        height: 20px;
        border-radius: 2px;
        margin-right: 5px;
    }
    .author {
        color: #444;
    }
    span {
        vertical-align: middle;
    }
    .bio {
        color: #999;
    }
}

.content {
    color: #444;
    line-height: 2em;
    margin: 10px 0 25px;
    a {
        color: #105CB6;
        text-decoration: none;
    }
    img {
        max-width: 100%;
        margin: 10px 0;
        display: block;
    }
    ul{
        display: block;
        list-style-type: disc;
        -webkit-margin-before: 1em;
        -webkit-margin-after: 1em;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;
        -webkit-padding-start: 40px;
        padding-left: 20px;
        li {
            display: list-item;
            text-align: -webkit-match-parent;
        }
    }
}
blockquote {
    border-left: 3px solid #D0E5F2;
    font-style: normal;
    padding: 0 0 0 .5em;
    margin: .5em 0;
    display: block;
    line-height: 1.7em;
    vertical-align: baseline;
    font-size: 100%;
}
@media (max-width: 480px){
    .content {
        line-height: 1.6em;
        margin: 10px 0 20px;
        font-size: 17px;
    }
    blockquote, sup {
        line-height: 1.4em;
    }
}
.view-more {
    text-align: right;
    margin-bottom: 34px;
    a {
        color: #698ebf;
        font-size: 14px;
        text-decoration: none;
    }
}
@media (max-width: 480px){
    .view-more {
        margin-bottom: 25px;
    }
}